[2019-04-19 20:06] florimondmanca opened #1 "Add tests"

[2019-04-19 20:06] florimondmanca opened #2 "Add API reference"
At least for the TartifletteApp constructor.

[2019-04-19 20:07] florimondmanca opened #3 "Release to PyPI"

[2019-04-19 21:34] florimondmanca opened #4 "Rename to tartiflette-starlette"
This package depends on Starlette so it’s bettee to make it explicit!

[2019-04-19 22:34] florimondmanca commented on #4
Done!

[2019-04-19 22:34] #4 closed

[2019-04-19 23:05] #2 closed

[2019-04-20 00:03] florimondmanca commented on #1
Done!

[2019-04-20 00:03] #1 closed

[2019-04-20 00:05] florimondmanca opened #5 "WebSocket subscriptions"
**Is your feature request related to a problem? Please describe.**

[Tartiflette has support for GraphQL subscriptions](https://tartiflette.io/docs/tutorial/add-subscription), so we may want to find a way to provide them via `tartiflette-starlette`.

**Solution you'd like**

To turn on subscriptions, specify the path of the subscription endpoint:

[code]

Once subscriptions are enabled, Tartiflett

[2019-04-20 00:06] florimondmanca opened #6 "Add CI pipeline"

[2019-04-20 14:56] florimondmanca opened #7 "Upgrade to Starlette 0.12"
Starlette is currently pinned to `>=0.12.b3, <0.13`, because 0.12 is still in public beta. We'll need to upgrade to non-beta once 0.12 is out => https://github.com/encode/starlette :+1:

[2019-04-22 16:32] #6 closed

[2019-04-22 17:30] florimondmanca commented on #3
@tsunammis I think we can already publish a first release to PyPI, even though this will install Starlette's 0.12 beta. I don't think it is an issue — the goal is to get a first release out there, and we can publicly communicate on this project later.

I configured a `pypi` deploy in TravisCI to publish releases on tagged commits on master. Publishing to PyPI requires passing PyPI credentials via

[2019-04-22 21:56] tsunammis commented on #3
We will plan a migration to a specific tartiflette user. Right now, you can publish by yourself.

As this version is still in beta, please feature it on the README as an unstable/beta version.

[2019-04-22 21:58] florimondmanca commented on #3
Okay. I'll add a beta notice on the README. :+1:

[2019-04-22 22:02] tsunammis opened #9 "Rename the application "Tartiflette" to something more suited like TartifletteHandler?"
Hello,

The `Tartiflette` class exposed in `tartiflette_starlette` could be confusing for the developer with the official package `tartiflette`. Is it possible to rename it to something more suited?

In this following use-case, `Tartiflette(sdl=...)` act as a handler, doesn't it?

[code]

Maybe a better naming should be `TartifletteHandler`. What do you think?

[2019-04-22 22:11] florimondmanca commented on #9
Yes, that's a very valid point!

How about `TartifletteApp` — similarly to how Starlette uses `GraphQLApp` for its Graphene app? It would be even clearer that this represents an ASGI *app*.

[2019-04-22 22:16] tsunammis commented on #9
👍 for `TartifletteApp`

[2019-04-23 09:35] florimondmanca opened #10 "About the dependency on Starlette"
When it was called `tartiflette-asgi`, I took the decision to make it depend on Starlette to facilite processing requests.

But there are only two places where Starlette directly faces the developer:

- `context["request"]`, which gives access to the current Starlette `Request` object
- `context["background"]`, which gives access to Starlette's background task factory (which can be used to run fun

[2019-04-23 10:25] florimondmanca commented on #10
On second thought, the parsing of HTTP requests is certainly not an easy task. I also can't think of an ASGI web framework that doesn't use Starlette to represent requests, so maybe YAGNI.

[2019-04-23 20:05] #9 closed

[2019-04-23 20:06] florimondmanca commented on #5
Will add a note to the README that we don't support subscriptions yet. :+1:

[2019-04-23 22:44] florimondmanca opened #12 "GraphiQL options"
There is currently no way to define extra GraphiQL options. One use case would be to serve GraphiQL at a different path than the GraphQL endpoint.

See: https://github.com/dailymotion/tartiflette-aiohttp#enable-graphiql-handler

Via #19:

Implemented options:

- [x] `endpoint` (as `path`)
- [ ] `default_query`
- [ ] `default_variables`
- [ ] `default_headers`
- [x] `template` (not present in `tart

[2019-04-23 22:44] #10 closed

[2019-04-23 22:47] florimondmanca opened #13 "Allow to pass execution context"
There should be a way to pass extra context to the Tartiflette executor, e.g.:

[code]

This would be merged with the base `context` (which already contains the `request`) so that resolvers get `{"request": ..., "message": "Hello, GraphQL!"}` as `ctx`.

See also: https://github.com/dailymotion/tartiflette-aiohttp#use-with-built-in-tartiflette-engine

[2019-04-27 14:49] cs01 opened #14 "issues running example"
I am trying to get the example set up in react-example, but am running into some issues.

When running the [example tartiflette app](https://github.com/tartiflette/tartiflette-starlette#creating-a-graphql-app), I get:
[code]

I add the `graphiql.html` file by copying and pasting its contents.

Then I get:
[code]

Output of pip freeze:
[code]

[2019-04-27 14:55] florimondmanca commented on #14
(For other people reading this, @cs01 is referring to https://github.com/bocadilloproject/react-example which uses [Bocadillo](https://bocadilloproject.github.io/).)

For `graphiql.html`, it seems to be an issue with assets not being packaged correctly. Will investigate!

For the rest, it seems to me you are exposing the naked `TartifletteApp` to Bocadillo — `TartifletteApp` isn't a Bocadillo `App

[2019-04-27 14:59] cs01 commented on #14
The docs say

I was going for the former, which I didn't think required Bocadillo. After I got that working I was going to try to mount it onto a bocadillo app.

This is the code I'm trying to run (copied directly from the README):
[code]

[2019-04-27 15:05] florimondmanca commented on #14
Hmm. The command you are running is `uvicorn server.asgi:app --reload`. So, I suppose in `asgi.py`, `configure(app)` is called with `app` being the one you listed above, correct? If so, you can't do that, because `configure()` only accepts Bocadillo apps.

Instead, you need to "mount" the Tartiflette app onto a Bocadillo app, i.e.:

[code]

(Here, "mounted" should really means "sub-routed", and th

[2019-04-27 15:08] cs01 commented on #14
Thanks!

Okay I was actually working on what you just described and I'm getting the following. Here is my branch https://github.com/bocadilloproject/react-example/tree/graphql.

[code]

[2019-04-27 15:11] florimondmanca opened #15 "No such file or directory: .../python3.7/site-packages/tartiflette_starlette/graphiql.html'"
Follow-up on #14

**Expected behavior**: `uvicorn graphql:app` with `graphql.py` copy-pasted from the README should start the server.

**Actual behavior**: server crashes.

**Traceback**:

[code]

[2019-04-27 15:11] cs01 commented on #14
Ah I see what I was doing wrong now. Like you said, the uvicorn command shouldn't have had asgi in it. It works perfectly with `uvicorn server.graphql:app`. I need to read the instructions more carefully :smile:.

I still don't know why the Bocadillo app is reporting `AttributeError: 'Starlette' object has no attribute 'on'`. Am I doing something wrong there?

[2019-04-27 15:14] florimondmanca commented on #14
Cool! I moved the `graphiql.html` bug to a separate issue: #15. Will close this. :-)

Because *it's not a Bocadillo app*. :wink: You created a `Starlette` app in your `app.py` script, but you need a Bocadillo `App` — see the code in my previous answer.

[2019-04-27 15:14] #14 closed

[2019-04-27 15:16] cs01 commented on #14
Ah yes I just ran it again without the asgi and that one worked too. I was originally trying to run the Bocadillo app and switched back and forth. It's my first time running Starlette so I have a bit of muscle memory for Bocadillo. :smile: thanks!

[2019-04-28 08:59] #15 closed

[2019-04-28 15:42] florimondmanca opened #18 "Default `path` should be empty"
Currently, the default `path` where GraphQL queries are expected is `"/"`. When mounting on another ASGI app, say at `/graphql`, this means that GraphQL queries should be made at `/graphql/`, which is unexpected.

So the default path should be `""` instead.

See also https://github.com/bocadilloproject/react-example/pull/9#discussion_r279199865

[2019-04-28 15:43] florimondmanca commented on #3
I'll close this since tartiflette-starlette was successfully released to PyPI recently.

[2019-04-28 15:43] #3 closed

[2019-04-28 23:30] florimondmanca opened #19 "`tartiflette-starlette` vs `tartiflette-aiohttp`"
Both `tartiflette-starlette` and [tartiflette-aiohttp](https://github.com/dailymotion/tartiflette-aiohttp) pursue the same goal: provide an HTTP transport layer for Tartiflette.

Currently, the Tartiflette docs and repo officially recommend `tartiflette-aiohttp`.

While I think `tartiflette-aiohttp` is pretty cool, I have some doubts about its potential as far as integrating into other systems. It

[2019-04-29 13:54] tsunammis commented on #19
Hello @florimondmanca

[code]
👍 You're right, ASGI is more interoperable than `aiohttp`.

## History

At dailymotion we use `aiohttp` for a while _(~3 years)_, a majority of our Python applications are asynchronous, mostly with `asyncio`. When we decided to start over a new GraphQL Engine, based on our experience and legacy code, `aiohttp` was our defacto choice. Recently, we were confident enough

[2019-04-30 20:03] florimondmanca commented on #19
Thanks for the historical point of view @tsunammis.

Absolutely. More tools for people to choose from!

Great idea — gives a clearer roadmap as to what should be featured to provide the Tartiflette experience for both current and future maintainers of transport-specific libraries.

Sure! Good idea to have documentation on the Tartiflette website for both. Where should we track this so it's visible

[2019-05-10 14:28] tsunammis commented on #19
I'll keep you posted ;-)

If you are interested to work on, let me know. To build together this _double_ documentation.

[2019-05-10 16:12] florimondmanca commented on #19
Sure! I can try and draft an equivalent of the current aiohttp-based tutorial — which would probably highlight which parts are still to be implemented here.

[2019-05-14 16:52] tsunammis commented on #19
The documentation takes place in the tartiflette repository. There are explanations about ["How to contribute to the documentation" on the README](https://github.com/dailymotion/tartiflette#how-to-contribute-to-the-documentation).

👍 To be "mergeable", I would like to provide an equivalent feature set both on `tartiflette-aiohttp` and `tartiflette-starlette`, some part are missing on `tartiflette-

[2019-05-24 14:35] florimondmanca commented on #19
Hey @tsunammis, I'm taking a look at this today. You wrote

What do you refer to with "Query" here? Users are already able to specify a `Query` type via the SDL string of the engine object, and use resolvers. Am I missing something?

[2019-05-24 14:41] tsunammis commented on #19
Sorry, I think that my message wasn't clear enough.

To be consistent with `tartiflette-aiohttp`, `tartiflette-starlette` must provide a complete integration with Query, Mutation and Subscription. Currently, this project is compliant with `Query` and `Mutation` as they don't require anything to work with the transport layer.

But this is not the case for the `Subscription` which needs a specific i

[2019-05-24 14:42] florimondmanca commented on #19
Okay, so we agree that of query, mutations and subscriptions, only subscription support is missing. Thanks!

[2019-05-24 14:48] tsunammis commented on #19
You're right 👍

[2019-05-24 14:48] florimondmanca opened #20 "Feature parity with tartiflette-aiohttp"
**Please describe the problem**

Some features are available in `tartiflette-aiohttp`, but not yet in `tartiflette-starlette`. We want to achieve feature parity before launching `tartiflette-starlette` as an official ASGI adapter.

**Describe the solution you'd like**

Implement the following features:

- [x] #23 Quickstart code snippet that people can copy paste and get running quickly
- [x] #22

[2019-05-24 14:58] florimondmanca commented on #19
I laid the roadmap out in #20, and also opened https://github.com/dailymotion/tartiflette/issues/230 for the documentation updates. I think we can close this issue now! :+1:

[2019-05-24 14:58] #19 closed

[2019-05-24 15:01] tsunammis commented on #19
👍

[2019-05-29 07:35] #7 closed

[2019-05-31 09:56] florimondmanca opened #23 "Quickstart examples"
**Problem**
Newcomers should be able to copy-paste single-script examples from the README to quickly try things out, as in the [tartiflette-aiohttp usage example](https://github.com/dailymotion/tartiflette-aiohttp#usage) usage example.

**Solution**
- Add a single-script example of a standalone `TartifletteApp` at the top of the README.
- Add a single-script example of a `TartifletteApp` mounted o

[2019-06-04 11:12] florimondmanca opened #24 "Context: request -> req"
Rename the "request" key in context to "req" to be consistent with tartiflette-aiohttp.

Related to #20

[2019-06-04 11:27] #18 closed

[2019-06-04 11:50] tsunammis commented on #24
👍

[2019-06-04 21:07] #24 closed

[2019-06-04 21:15] florimondmanca opened #27 "Official logo or banner"
[`tartiflette-aiohttp`](https://github.com/dailymotion/tartiflette-aiohttp) has a banner displayed at the top of its README (see below). Having an equivalent one for `tartiflette-starlette` would be nice to enhance the attractiveness of the repo.

Related to #20

@tsunammis Do you or someone else at Dailymotion still have the art files for the banner? I can make a `tartiflette-starlette` version.

[2019-06-05 09:56] tsunammis commented on #27
I can make it easily and quickly. Do you have the starlette SVG logo?

[2019-06-05 10:38] florimondmanca commented on #27
There is an SVG version of the logo here: [koddr/starlette-logo](https://github.com/koddr/starlette-logo/blob/master/src/light/svg/starlette__full_logo__without_text__light.svg), licensed under CC 1.0.

By the way, I think the term "ASGI" should appear somewhere in the banner. We definitely don't want users to think this is just for Starlette, and then look away. So something like:

[code]

[2019-06-05 11:56] tsunammis commented on #27
![Tartiflette-starlette](https://user-images.githubusercontent.com/158689/58954519-b05ad680-8799-11e9-9134-90622e7731f3.png)

Here is the image ;-)

[2019-06-05 19:20] florimondmanca commented on #27
Awesome! Added to #26 :+1:

[2019-06-08 14:59] florimondmanca opened #28 "`errors` field should not be included if no errors occurred"
See https://github.com/tartiflette/tartiflette-starlette/pull/26#discussion_r291174207

[2019-06-08 15:48] #28 closed

[2019-06-10 14:53] #23 closed

[2019-06-10 14:53] #27 closed

[2019-06-26 23:01] florimondmanca opened #32 "Tartiflette 0.12 compatibility"
**Problem description**

I noticed that Tartiflette 0.11 was out, and there are a few changes.

The major one I see is that engine creation is now **asynchronous** and must be done via `create_engine()`.

This means that the current `engine` parameter to `TartifletteApp()` isn't appropriate anymore, because we can't create a raw `Engine` anymore (at least not in a sync context which is typically w

[2019-06-26 23:02] florimondmanca commented on #32
Hi @abusi, ccan I ask why it is now impossible to create an engine synchronously — or rather, what makes creating an engine asynchronously necessary? Thanks!

[2019-06-27 06:20] abusi commented on #32
Hi @florimondmanca I was in the process of making starlette compatible with 0.11 by passing a partial as a startup hanlder and then do the `create_engine` in it.

We removed the parameters from the engine cause they are not needed by the engine itself but by subcomponent, it was bothering me to add things to self that weren't usefull for self. They are all transitive parameters that's why I moved

[2019-06-27 07:51] florimondmanca commented on #32
Thanks for your answer!

Yup, and you're 100% right!

I'm not angry at all about the change, just trying to understand the decision. :-) Sorry if it came across as rough!

Thanks! Just a heads up in the associated Tartiflette issue/PR would be enough, I wouldn't want to slow things down.

FYI, I pushed a complete overhaul of the internals of `TartifletteApp` yesterday, which allow us to leverage S

[2019-06-27 07:52] florimondmanca commented on #32
By the way, note that the `sdl`, `schema_name`, and `modules` parameters are just used by `.cook()`.

If we were able to pass an `Engine` with those parameters stored in its `self`, it would lead to **more decoupled code** because `tartiflette-starlette` wouldn't need to care about the `cook` interface at all — the `Engine` would.

Here's how it could simplify `TartifletteApp.__init__()`:

[code]

[2019-06-27 07:54] abusi commented on #32
You're making good points, with this, let me think about it a little bit more. I'll get back to you during the day.

[2019-06-28 13:45] abusi commented on #32
https://github.com/tartiflette/tartiflette/pull/244 @florimondmanca You were right, it gives us more flexibility.
Thank you for your feedback.

[2019-07-01 11:51] abusi commented on #32
@florimondmanca Do you still need help with the 0.11.x migration ? I don't have time to finish my work on it, I see that you already have ideas for it. If you think it can wait a bit, i'll do it next week.

[2019-07-01 12:14] florimondmanca commented on #32
I think I can take it over. Feel free to push your work to a branch and I'll be able to take it from there this week/this weekend. :-) Thanks!

[2019-07-03 20:10] florimondmanca commented on #13
As discussed in https://github.com/tartiflette/tartiflette-starlette/pull/30#discussion_r299014593, it might be better to simply let users use the `request.state` API. It allows users to attach any useful information on the request, which they can already access as `ctx["req"]`.

Therefore, I am closing this issue until the need for statically-defined extra context surfaces again. :-)

[2019-07-03 22:05] #12 closed

[2019-07-04 07:23] #32 closed

[2019-07-05 07:33] abusi commented on #5
@florimondmanca yes I can confirm that we implemented [subscription-ws](https://github.com/apollographql/subscriptions-transport-ws/blob/master/PROTOCOL.md). Because it is the one used by `graphiql`.
If you prefer to use another one in the starlette integration, it's up to you. The idea is to support the subscription feature :). The GraphqlSpec is very relaxed on this, it's up to the implementatio

[2019-07-05 07:36] florimondmanca commented on #5
Thanks @abusi. I haven't found another wide-spread implementation, so let's just go for it. :-) I'll try to keep the actual protocol separated from the rest, though. Maybe we can then have a reusable `GraphQLWSProtocol` class which simply requires to define `send_message()` (which depends on the underlying WebSocket implementation, e.g. Starlette vs aiohttp)? We'll see!

[2019-07-07 10:43] #13 closed

[2019-07-12 20:35] #5 closed

[2019-07-13 19:31] #20 closed

[2019-07-14 20:31] mikeyjkmo opened #41 "Graphiql broken in quickstart tutorial"
Follow the quickstart guide and navigating to http://localhost:8000 results in Graphiql crashing - it gets on "Loading". The javascript error is as follows:

[code]

[2019-07-14 22:29] florimondmanca commented on #41
Hey, thanks for reporting this! The traceback is very helpful.

It looks like the WebSocket endpoint URL is incorrectly passed as the “None” string instead of an empty string to the GraphiQL template when subscriptions aren’t enabled. I’ll give this a closer look very soon.

[2019-07-15 10:37] mikeyjkmo commented on #41
@florimondmanca so looks like we're substituting None into the graphiql.html template, where it gets converted into a string.

[code]

Adding this if-statement fixes the issue.

[2019-07-15 11:31] florimondmanca commented on #41
Sounds good. We may want to check that we correctly check against the empty string in the graphiql HTML file as well, and then it’s all good.

[2019-07-15 11:39] mikeyjkmo commented on #41
The javascript appears to do a truthy test on the empty string, so looks okay to me.

[2019-07-16 19:08] florimondmanca commented on #41
Released in 0.5.1. :+1:

[2019-09-02 22:38] shalseban opened #43 "Getting 307 temporary redirect running ASGI submounting example"
I am trying to run the ASGI submounted Tartiflette example using starlette and on hitting the endpoint using:

`curl -H "Content-Type: application/graphql"  -d '{ hello(name: "Chuck") }' http://localhost:8000/graphql`

I receive code `307`.

I tried running it through grapiql, while the the UI loads, it fails to load the schema, looks like it is hitting the root path `/` and returning with `405`.

[2019-09-03 07:47] florimondmanca commented on #43
Hey, thanks for reporting this!

I don’t have much time to try this out locally, but first the 307 issue can you confirm that adding a trailing slash gives you a 200? Starlette automatically appends and redirects trailing slashes to route URLs by by default. I believe this is worth a note in the README?

As for the wrong GraphiQL endpoint path, it looks like a bug. TartifletteApp should automatica

[2019-09-03 20:01] shalseban commented on #43
@florimondmanca Ah, yes, regarding the `307` the trailing slashes worked. Interesting.

I did take a cursory look into GraphiQL part of it yesterday. The `GraphiQL` object attached to the `TartifletteApp` is initialized with `path=None`. Not sure if that is expected yet. I can dig into it further later tonight.

I guess the `307` and `GraphiQL` are both separate issues, I can create a separate iss

[2019-09-03 20:54] florimondmanca commented on #43
Thanks @shalseban. I opened #44 to add a note about the 307 you've encountered. :-)

I looked at the `GraphQL` issue and there's something really wrong — most tests aren't even passing anymore. I'm taking a look.

[2019-09-03 21:03] #43 closed

[2019-09-03 21:04] florimondmanca opened #45 "GraphiQL client in ASGI example is broken"
Initially discovered by @shalseban in #43.

To reproduce:

[code]

Start:

[code]

Access http://localhost:8000/graphql in the browser -> the result zone shows "Method Not Allowed".

[2019-09-03 21:41] florimondmanca opened #46 "Refactor GraphiQL routing implementation"
So after taking a look to #45, I noticed that the GraphiQL routing implementation is a mess, plain and simple. (The most interesting part being that I coded that mess 3-4 months ago — oh, well…)

Currently, in the default configuration we have only one route, which is bound to `GraphQLEndpoint`. The endpoint looks at the `Accept` header and calls into `GraphiQLEndpoint` if that header contains `te

[2019-09-25 23:19] shalseban opened #49 "Tartiflette 1.0 compatibility"
Not compatible with `tartiflette` `1.0`.

[2019-09-26 08:11] florimondmanca commented on #49
Yup, that’s why Tartiflette is currently pinned to 0.13 and below here.

Can you provide more context on which pieces aren’t compatible?

[2019-09-26 16:26] shalseban commented on #49
Whoops. That was incorrect wording on my part. What I meant could we remove the pinning? unless you see compatibility issues. I just wanted to use some of the new features that rolled out in `1.0` (TypeResolver)

[2019-09-28 09:18] florimondmanca commented on #49
I see, thanks! If you're up for it, I'd accept a PR upgrading the pin to `>=0.12, <1.1` in `setup.py`. If CI tests pass, we'll be good to release with official 1.0 support. :)

[2019-10-03 07:31] florimondmanca opened #54 "Python 3.8 support"
Python 3.8 is just around the corner (rc1 was released just a few days ago), but we don't have it in our build matrix yet.

Let's add a `python: 3.8-dev` entry to the TravisCI build configuration. :+1:

[2019-10-03 09:05] saadismail commented on #54
I am working on it, you can assign it to me if you are around :)

[2019-10-03 10:51] #54 closed

[2019-10-03 10:53] #45 closed

[2019-10-08 07:40] florimondmanca opened #59 "Type annotations"
`tartiflette-starlette` doesn't ship type annotations yet, and those are actually wrong (running `mypy` yields a host of errors).

We need to:

- [x] Setup `mypy` for the project.
- [x] Add a `mypy` check to CI (allow to fail).
- [x] Fix all typing errors.
- [x] Enforce `mypy` to pass on CI.
- [ ] Add the `py.typed` marker file in the package and add it to `MANIFEST.in`.

All these can be contribu

[2019-10-08 20:04] AutumnalDream opened #64 "Getting concurrent.futures._base.CancelledError on shutdown"
This is using the subscription example.
When searching I didn't see that the event loop was closed either but I'm not an async expert.

INFO: Waiting for application startup.
INFO: Uvicorn running on http://127.0.0.1:8000 (Press CTRL+C to quit)
INFO: ('127.0.0.1', 61918) - "GET / HTTP/1.1" 200
INFO: ('127.0.0.1', 61920) - "WebSocket /subscriptions" [accepted]
INFO: ('127.0.0.1', 61918) - "POST / H

[2019-10-08 20:06] florimondmanca commented on #64
Hi, thanks for reporting this!

Can you confirm this is what you did?

1. Start the server.
1. Access the GraphiQL interface in the browser.
1. Hit "play" to start the timer.
1. *Before the timer ends*, stop the server while the subscriptions is still running.

Or had the timer already finished on step 4?

[2019-10-08 20:52] florimondmanca opened #67 "Test that package is installable"
The source directory from `master` fails to install right now because `CHANGELOG.md` is missing from `MANIFEST.in`. This will be fixed by #66.

But this prompts us to add a "build" job to CI that:

1. Builds the package in the `dist` and `bdist_wheel` formats.
1. Installs the source distribution into a fresh virtualenv.

[2019-10-08 21:11] #59 closed

[2019-10-08 21:20] AutumnalDream commented on #64
My bad. Was in the middle of writing this but had to run. Those steps are correct. I've been able to trigger that by shutting the server down in the middle of the subscription as well as hitting the play button again in the middle of the subscription running.

[2019-10-08 21:44] florimondmanca opened #70 "Rename back to tartiflette-asgi"
As suggested by @tomchristie in https://github.com/tartiflette/tartiflette/issues/230#issuecomment-525247526, I believe this project would gain from reverting to `tartiflette-asgi`.

(We actually switched to `tartiflette-starlette` early on (see #4), but I think it was a mistake. This package *really does NOT require Starlette* to be used in an ASGI project. It just *happens* to use Starlette, but

[2019-10-08 21:45] florimondmanca opened #71 "Document integration with more ASGI frameworks"
We should document how to integrate with various ASGI frameworks besides Starlette:

- [x] Starlette
- [ ] FastAPI
- [ ] Responder
- [ ] Quart
- [ ] Sanic

This will require some modifications in the structure of the docs, possibly adding a section titled e.g. "Integrating with an ASGI web framework".

[2019-10-08 21:48] #67 closed

[2019-10-08 21:55] florimondmanca opened #72 "Tooling scripts"
Let's add scripts to automate the following tasks:

- `scripts/check`: run linters.
- `scripts/lint`: run linters, with auto-fix if available.
- `scripts/test`: run tests.
- `scripts/publish`: make a new PyPI release.

[2019-10-08 22:43] #72 closed

[2019-10-09 07:02] florimondmanca commented on #64
Thanks @AutumnalDream!

I think a good first step to resolving this would be to add a failing test case. Not sure yet how this can be reproduced programmatically, but I think the idea of "launching a new subscription seems to cancel the previous one and crash it" seems like a good starting point.

[2019-10-13 19:07] AutumnalDream opened #78 "What to do for version 0.6.0?"
What do we need to do to get 0.6.0 out?

[2019-10-13 19:31] florimondmanca commented on #78
Hi @AutumnalDream, thanks for your interest in this project. :)

So, for 0.6 we need to resolve the following items:

- [x] Tartiflette 1.x failed to build in some cases (e.g. on macOS Mojave / Python 3.7) - https://github.com/tartiflette/tartiflette/issues/301 - Resolved in [Tartiflette 1.1.1](https://github.com/tartiflette/tartiflette/blob/master/changelogs/1.1.1.md)
- [ ] Give a final review to

[2019-10-18 07:33] #49 closed

[2019-10-18 07:33] #78 closed

[2019-10-18 07:54] florimondmanca commented on #78
0.6.0 was released just now :tada: -> https://pypi.org/project/tartiflette-starlette/0.6.0

[2019-10-27 14:54] florimondmanca commented on #70
Done!

- [x] Project was renamed to `tartiflette-asgi` (#82)
- [x] Repo was renamed
- [x] 0.7.0 pushed to PyPI: https://pypi.org/project/tartiflette-asgi/0.7.0/
- [x] 0.6.1 (tombstone) pushed to PyPI: https://pypi.org/project/tartiflette-starlette/0.6.1/

[2019-10-27 14:54] #70 closed

[2019-10-28 15:57] xeor commented on #71
Looking forward to use this with FastAPI :)

[2019-10-28 16:08] florimondmanca commented on #71
@xeor If you end up experimenting and find about how to set things up, feel free to send a PR. :)

[2019-10-28 19:01] florimondmanca opened #83 "Update banner"
With this project now named `tartiflette-asgi`, the current banner is outdated because it mentions "Tartiflette + Starlette".

We should update the logo to read "Tartiflette + ASGI" — probably with "ASGI" written in plain text (as ASGI doesn't currenly have a logo AFAIK).

@tsunammis Do you still have the editable logo file?

[2019-10-29 09:17] tsunammis commented on #83
is it ok for you?

[2019-10-29 09:35] abusi commented on #71
I think we should change the setup.py in order to reflect that "starlette" is only a flavor of tartiflette-asgi by implementing a `pip install tartiflette-asgi[starlette]` way of instaling it.

having then all flavor imported on demand at init time when the tartiflette-asgi app is initialized.

something like

`pip install tartiflette-asgi[fastApi]`

and then in my app

[code]

then in Tartiflette

[2019-10-29 12:37] #83 closed

[2019-10-29 15:20] florimondmanca commented on #71
@bubu The only “flavor” we need to care about is ASGI — an interface that both Starlette and FastAPI apps implement. There really isn’t a need to specialize this library beyond ASGI. Starlette is merely a dependency that allows us to work at a higher level in this package’s code, but it really does not matter at all from our users’ perspective. As long as their app/framework implements ASGI, they’

[2019-10-29 15:21] florimondmanca commented on #71
Using Tartiflette-ASGI with FastAPI is most likely a matter of knowing how to mount an ASGI app on a FastAPI router — much like what we currently document for Starlette. This can be more reliably solved via documentation rather than code.

[2019-10-29 15:28] abusi commented on #71
I think it matters, if this package depends on them, then it should be flavored.
because if i'm using `fastapi` i don't need any other python package, if you install everything (FastAPI, Responder, Quart, Sanic, Starlette) it will certainly bring a dependency hell you won't want to manage.
I merly ask that people installing `tartiflette-asgi` can choose which deps they want OR maybe `tartiflette-a

[2019-10-29 16:57] florimondmanca commented on #83
The new banner looks great, thanks!

[2019-10-29 20:31] florimondmanca commented on #71
So — FastAPI and Responder already depend on Starlette anyway, so we’re not adding any extra dependencies in those cases.

This leaves us with Quart and Sanic, which don’t depend on Starlette. We’d be adding Starlette to our users’ dependency tree in those cases, true.

I think it’s a very cheap price to pay, though: Starlette doesn’t have any dependencies itself.

If that does prove to be a probl

[2019-10-29 20:34] florimondmanca commented on #71
As I wrote in my previous comment, I think we do support all existing ASGI frameworks, because of the defining characteristic of ASGI serving as a compatibility layer between otherwise incompatible apps/frameworks.

The low touch approach right now is to document examples of using tartiflette-asgi against those frameworks.

[2019-10-30 09:43] abusi commented on #71
I'm okay with you on the principle that this should have the minimal code base possible. It's always the way to go.
My first idea was probably too much, you're right.

My only remaining point is that if you have here a deps on starlette==x.y.z and that the user of this libe want to use fastapi in u.v.w BUT fastapi depends on startlette m.n.o which isn't compatible with x.y.z you'll have a problem.

[2019-10-30 09:49] florimondmanca commented on #71
I see your point about potential dependency hell issues. I think this package needs to be as broadly compatible with Starlette as possible. At the same time, we'll want to have at least some control so that the basic APIs we use (the `Request` instance, the `Lifespan` helper, etc.) don't break without notice. We currently have Starlette pinned to `0.12.*`, so I think to alleviate potential depende

[2019-10-30 09:52] abusi commented on #71
I think that is a good idea yes.
Thanks :).
I really like the asgi approach, i'm very happy about this project :)

[2019-10-30 09:59] florimondmanca opened #85 "Loosen dependency on Starlette"
As suggested in (), we currently have Starlette pinned to `0.12.*` in our `setup.py`.

We should loosen the pin to `starlette==0.*`.

This will:

- Help minimize the constraints on our users, avoid them to face dependency hell (e.g. if they're using FastAPI or Responder, both of which depend on Starlette themselves), and keep this project's impact to a minimum.
- Allow us to catch up and take any

[2019-10-30 10:01] florimondmanca opened #86 "Documentation site"
All documentation for this package currently lives in the README of this repo. I think it's *okay*, but READMEs tend to be hard to read and navigate as soon as you have more than an installation/quickstart/learn more structure.

I'm considering building a simple docs site with [MkDocs](https://github.com/encode/mkdocs). It recently acquired [autodoc](https://github.com/tomchristie/mkautodoc) featu

[2019-10-30 10:02] florimondmanca opened #87 "Move ASGI submounting instructions to a dedicated docs section"
Spun up from #71

[2019-10-30 10:14] abusi commented on #86
I think we should work on integrating this future doc into the tartiflette.io one. (Which is a ghpage). @tsunammis what do you think ?

[2019-10-30 10:21] florimondmanca commented on #86
I'd be fine with that, though I think it'd be nice for `tartiflette-asgi` to have its own space there somehow, i.e. not be interlinked too much with the body of the Tartiflette-specific documentation. I'm thinking of e.g. adding a "Transports" tab in the navbar, with a dropdown showing `tartiflette-asgi` (and perhaps soon `tartiflette-aiohttp`?), and each link shows up a page (and sidebar) that's

[2019-10-30 10:41] florimondmanca opened #90 "Drop mount helpers"
Currently, `tartiflette-asgi` provides a `mount` module whose aim was to make it easier to mount `tartiflette-asgi` apps under other ASGI frameworks.

With the intent of keeping the dependencies and management overhead as low as possible, and considering #87 will provide detailed documentation on integrating with various ASGI frameworks, I think we should remove the `mount` module. This will also

[2019-10-30 11:20] #87 closed

[2019-10-30 11:38] abusi commented on #86
That's a good idea, the 'transport' navbar. Me likin' it.

[2019-10-31 10:22] tsunammis commented on #86
This is ok for me to create a specific website for `tartiflette-asgi`.

We already have tartiflette.io (https://github.com/tartiflette/tartiflette.io/) which uses a custom domain.

Just try to enable the static website. We will see how doesn't it work.

Regarding a "Transport" tab, We will talk about it internally with @abusi and @Maximilien-R to make sure that we are going on the right way for th

[2019-10-31 11:49] florimondmanca commented on #86
@tsunammis I opened #94 with the full docs site, but I wanted to try out deploying beforehand. I tried to push the `mkdocs` starter site from the first commit in #94:

[code]

The GitHub Pages section of the settings page here looks good:

![Screenshot 2019-10-31 at 12 47 11](https://user-images.githubusercontent.com/15911462/67944384-a7e9b900-fbdc-11e9-82bf-e550f247a1d5.png)

But there isn't anyt

[2019-10-31 11:49] florimondmanca commented on #86
Oh, right, the site is actually accessible at https://tartiflette.github.io/tartiflette-asgi/index.html (note the `/index.html` suffix).

Need to figure out how to enable root serving on MkDocs.

[2019-10-31 11:55] florimondmanca commented on #86
OK weird, I deployed again and the site is now up: https://tartiflette.github.io/tartiflette-asgi/

Looks like the infrastructure is all set! :+1:

[2019-10-31 11:55] #86 closed

[2019-10-31 12:06] florimondmanca commented on #46
Closing this as not immediately actionable — the code needs *some* refactoring, yes, but there are many ways to proceed and not sure this particular issue is even up-to-date anymore.

[2019-10-31 12:06] #46 closed

[2019-11-19 07:46] florimondmanca opened #100 "Incompatibility with Starlette 0.13"
As demonstrated by #99, Starlette 0.13 was recently released and contains changes that break compatibility with `tartiflette-asgi`.

In particular, the `Lifespan` component was removed from `starlette.routing`, and the corresponding features were merged into `Router`, e.g. `router.add_event_handler(...)`. (See: https://github.com/encode/starlette/pull/704)

We already use `Router` internally, so t

[2019-11-21 07:47] florimondmanca commented on #85
Considering the issues we're having with 0.13 compatibility (see #100), I think we shouls stick to pinned minor versions for now.

[2019-11-21 07:47] #85 closed

[2020-01-23 02:00] AutumnalDream opened #101 "Support for connectionParams for Subscriptions"
Looking through the code and using search I didn't find any mention of the connectionParams mentioned in [subscriptions-transport-ws](https://github.com/apollographql/subscriptions-transport-ws/blob/master/PROTOCOL.md). Is it in there and I'm not seeing it or if it's not should I attempt to add it?

[2020-01-23 11:30] florimondmanca commented on #101
Hi! I don’t think we currently have that, indeed. Not sure what those connectionParams are — it seems they’re only referred to in the connection unit operation — but happy to review any PR to add anything we’re missing related to those. :-)

[2020-01-25 20:33] timgates42 opened #102 "Fix simple typo: wnat -> want"
There is a small typo in docs/usage.md.
Should read `want` rather than `wnat`.

[2020-01-25 21:55] #102 closed

[2020-04-25 23:39] petrus-v commented on #100
I start the PR#106 to address this issue

[2020-04-26 19:50] petrus-v opened #107 "Support multiple schema"
As far I understand the code [multiple schema](https://tartiflette.io/docs/api/schema-registry) is not yet possible using v0.7.1.

I'm not sure if I needs it yet, so I won't start working on it right now.

[2020-04-27 16:46] florimondmanca commented on #107
Hmm.

What would “multiple schema” support involve on our side?

I _believe_ (?) currently there’s a schema parameter on TartifletteApp - maybe it’s not documented. Is that enough?

[2020-04-27 17:06] florimondmanca opened #108 "Migrate test HTTP client to HTTPX"
Currently we're using Starlette's `TestClient` in tests. Ideally we should move to [HTTPX](https://github.com/encode/httpx/) if possible, since it has native support for calling into ASGI apps using async/await, without bridging from a sync API.

[2020-04-27 21:16] petrus-v commented on #107
I guessed from the linked example, if someone wants to manage multiple schema from one route that he have to provide one engine per schema.

I'm not sure if it's a good practice, I don't really needs it at the moment so I'll close this the moment and clarify my ideas !

thanks

[2020-04-27 21:16] #107 closed

[2020-06-11 07:29] dmartin35 commented on #100
awesome @florimondmanca !! thanks

[2021-01-13 21:50] sebastiandev opened #133 "GraphQL App returns 400"
GraphQL Apps should always return 200, even when there are errors. That is because a resolver might have failed but others might have been completed successfully so there will be data in the response.  The 400 is reserved for graphql parsing errors.

[This](https://github.com/tartiflette/tartiflette-asgi/blob/master/src/tartiflette_asgi/_endpoints.py#L78) line here is causing tartiflette-asgi to r

[2021-01-13 22:17] florimondmanca commented on #133
Hey,

Not really, I think! You seem to be more familiar with the details of the GraphQL protocol than I was at the time, so if there are changes you think are worth considering I'd be glad to review any pull request towards that. 😊

[2021-01-14 19:33] sebastiandev commented on #133
Gotcha, [here](https://github.com/tartiflette/tartiflette-asgi/pull/134) it is

[2021-08-04 12:24] aljinovic opened #152 "Add support for tartiflette 1.4"
Tartiflette [1.4.0](https://github.com/tartiflette/tartiflette/releases/tag/1.4.0) was released, could you please add support for it?

[2021-08-05 12:57] #152 closed

[2021-08-06 14:41] aljinovic opened #157 "Add support for latest starlette release"
Hello, Starlette is now at [0.16.0](https://github.com/encode/starlette/releases).

Is there a blocker for updating from 0.13.*?

[2021-08-06 17:35] florimondmanca commented on #157
Halo,

Yup, this is being dealt with via #154. :)

[2021-08-07 13:00] siopaonow opened #158 "Add support for GraphQL Multipart Uploads"
Wondering if it would be in the scope of this library support for GraphQL Multipart Uploads as per: https://github.com/jaydenseric/graphql-multipart-request-spec? More than happy to give writing an implementation a go and submittined a PR.

Reference Python implementations:
- https://github.com/strawberry-graphql/strawberry
- https://github.com/lmcgartland/graphene-file-upload

[2021-08-07 17:47] #157 closed

[2021-08-07 17:52] florimondmanca commented on #158
@siopaonow If I'm being honest, I'm not a user of GraphQL myself, and by extension not very familiar with usage patterns in the community, so:

Could you provide a full sample / minimal use case w/ code snippets demonstrating how we'd want this to be used, and how things would get plugged in together on the user side?

We'd need to clarify if this involves adding / changing public-facing APIs, and

[2021-08-07 23:43] siopaonow commented on #158
I think this change should be able to be introuduced in a non-breaking way with an:
- addition of the `tartiflette_asgi.upload` plugin module, to add the `Upload` scalar to the schema
- addition of the `upload=True` flag to the `TartifletteApp` class to enable parsing of file uploads
- adjustments to the GraphQLEndpoint to support `multipart/form-data` content-type and injection of uploaded files

[2021-08-08 08:35] florimondmanca commented on #158
Thanks for these pointers!

So, it's unclear to me if this should be in tartiflette-asgi, OR in tartiflette itself.

Things like "a scalar in the schema" are related to the GraphQL engine, rather than the web layer.

- Does the aiohttp-based web layer support this already?
- What would `upload=True` do _exactly_? Register something on thé `engine`? Enable decoding detected multipart inputs a certa

[2021-08-08 08:52] siopaonow commented on #158
I believe this has to be part of tartiflette-asgi, as prior to the query being executed by the engine, we need parse and 'mutate' the sent query to insert the upload files from the request. Details on the multipart structure can be found [here](https://github.com/jaydenseric/graphql-multipart-request-spec#multipart-form-field-structure) and a few example requests can be found [here](https://github

[2021-08-08 10:27] florimondmanca commented on #158
@siopaonow Thanks. I think at this point if you want to have a try at a draft PR to illustrate what that would look like, that would be a nice next step. :-) Let's remember that Starlette already has a multipart parser, available as `await request.form()`, so we don't need to reinvent that part.

[2022-01-26 21:20] kdowney-cloudwallcapital opened #172 "aclose() exception in Uvicorn when subscription running"
After less than 30 seconds of subscribing the Tartiflette ASGI implementation blows up with an exception.

I see this both with Altair and with a simple Python graphql_client-based client, so pretty sure this is Tartiflette not the client. The platform is Ubuntu focal, Python 3.8.12, with:

- tartiflette==1.4.1
- tartiflette-asgi==0.11.0
- uvicorn==0.15.0
- websockets==9.1

Note same issue also ob